{
  "openapi": "3.0.1",
  "info": {
    "title": "Connectwise PSA Public Endpoints",
    "version": "2025.8",
    "contact": {},
    "description": "API documentation for ConnectWise PSA public endpoints, providing details on available operations, parameters, and response schemas for integrating with ConnectWise's professional services automation platform."
  },
  "servers": [
    {
      "url": "https://connect.verveit.com/v4_6_release/apis/3.0"
    }
  ],
  "paths": {
    "/company/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "description": "Get a list of companies in ConnectWise to manage customer accounts and business relationships. deletedFlag=false should be sent with conditions to retrieve only companies that have not been deleted.",
        "operationId": "list_companies",
        "parameters": [
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ConnectWise.Apis.v3_0.v2015_3.Company.Company.Company",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company/companies/{parentId}/notes": {
      "get": {
        "tags": [
          "CompanyNotes"
        ],
        "description": "Get all notes associated with child companies under a specified parent company to help track communications and important details within the company hierarchy.",
        "operationId": "list_company_notes",
        "parameters": [
          {
            "name": "parentId",
            "in": "path",
            "description": "companyId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of CompanyNote",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyNote"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CompanyNotes"
        ],
        "description": "Create a new note under a parent company to document important information and enhance communication within your customer management process.",
        "operationId": "create_company_note",
        "parameters": [
          {
            "name": "parentId",
            "in": "path",
            "description": "companyId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "companyNote",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyNote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "CompanyNote",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyNote"
                }
              }
            }
          }
        }
      }
    },
    "/company/companies/statuses": {
      "get": {
        "tags": [
          "CompanyStatuses"
        ],
        "description": "Get List of all available company statuses that a customer can be in, typically denoting if they are active or need special handling or are now inactive, etc.",
        "operationId": "list_company_statuses",
        "parameters": [
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of CompanyStatus",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyStatus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company/companies/statuses/{id}": {
      "get": {
        "tags": [
          "CompanyStatuses"
        ],
        "description": "Get the details of a specific company status by ID to understand its role in managing ticket lifecycle stages, SLAs, and workflow automation.",
        "operationId": "get_company_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "statusId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CompanyStatus",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyStatus"
                }
              }
            }
          }
        }
      }
    },
    "/company/companies/types": {
      "get": {
        "tags": [
          "CompanyTypes"
        ],
        "description": "Get a list of company types used to categorize companies for reporting, automation, and managing customer relationships within ConnectWise PSA.",
        "operationId": "list_company_types",
        "parameters": [
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of CompanyType",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CompanyType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company/companies/types/{id}": {
      "get": {
        "tags": [
          "CompanyTypes"
        ],
        "description": "Get a specific company type by ID to manage ticket categorization and support reporting, automation, and subtype configuration within ConnectWise PSA.",
        "operationId": "get_company_type",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "typeId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CompanyType",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyType"
                }
              }
            }
          }
        }
      }
    },
    "/company/configurations": {
      "get": {
        "tags": [
          "Configurations"
        ],
        "description": "Get a list of company configurations used to customize and manage data templates for specific items within your ConnectWise environment.",
        "operationId": "list_configurations",
        "parameters": [
          {
            "name": "managedIdentifier",
            "in": "query",
            "description": "managedIdentifier",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of Configuration",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Company.Configuration"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Configurations"
        ],
        "description": "Create a new configuration template to customize data stored for company assets, enabling automated management of devices and other items.",
        "operationId": "create_configuration",
        "parameters": [
          {
            "name": "managedInformation",
            "in": "query",
            "description": "managedInformation",
            "schema": {
              "$ref": "#/components/schemas/ManagedInformation"
            }
          }
        ],
        "requestBody": {
          "description": "configuration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company.Configuration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Configuration",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/Company.Configuration"
                }
              }
            }
          }
        }
      }
    },
    "/company/configurations/{id}": {
      "get": {
        "tags": [
          "Configurations"
        ],
        "description": "Get a specific company configuration form template by its ID to customize and manage data for items like managed devices.",
        "operationId": "get_configuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "configurationId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Configuration",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/Company.Configuration"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Configurations"
        ],
        "description": "Update a company configuration template to customize the data stored for specific items, enabling tailored management of configurations within ConnectWise PSA.",
        "operationId": "replace_configuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "configurationId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "managedInformation",
            "in": "query",
            "description": "managedInformation",
            "schema": {
              "$ref": "#/components/schemas/ManagedInformation"
            }
          }
        ],
        "requestBody": {
          "description": "configuration",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Company.Configuration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Configuration",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/Company.Configuration"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Configurations"
        ],
        "description": "Update a specific configuration template to customize data stored about company assets or managed devices.",
        "operationId": "update_configuration",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "configurationId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "managedInformation",
            "in": "query",
            "description": "managedInformation",
            "schema": {
              "$ref": "#/components/schemas/ManagedInformation"
            }
          }
        ],
        "requestBody": {
          "description": "List of PatchOperation",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PatchOperation"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Configuration",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/Company.Configuration"
                }
              }
            }
          }
        }
      }
    },
    "/company/configurations/statuses": {
      "get": {
        "tags": [
          "ConfigurationStatuses"
        ],
        "description": "Get the list of configuration statuses that define the stages and workflow states for managing configurations within ConnectWise PSA.",
        "operationId": "list_configuration_statuses",
        "parameters": [
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ConfigurationStatus",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConfigurationStatus"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company/configurations/statuses/{id}": {
      "get": {
        "tags": [
          "ConfigurationStatuses"
        ],
        "description": "Get a specific configuration status by ID to view its role in managing ticket lifecycle stages, SLAs, and workflow automation within ConnectWise PSA.",
        "operationId": "get_configuration_status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "statusId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ConfigurationStatus",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationStatus"
                }
              }
            }
          }
        }
      }
    },
    "/company/configurations/types": {
      "get": {
        "tags": [
          "ConfigurationTypes"
        ],
        "description": "Get a list of configuration types used to categorize and customize data templates for company-managed items and devices.",
        "operationId": "list_configuration_types",
        "parameters": [
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ConfigurationType",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConfigurationType"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company/configurations/types/{grandparentId}/questions/{parentId}/values": {
      "get": {
        "tags": [
          "ConfigurationTypeQuestionValues"
        ],
        "description": "Get the list of possible values for configuration type questions within a specific category and subcategory to customize item data in ConnectWise PSA.",
        "operationId": "list_configuration_type_question_values",
        "parameters": [
          {
            "name": "parentId",
            "in": "path",
            "description": "questionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "grandparentId",
            "in": "path",
            "description": "typeId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ConfigurationTypeQuestionValue",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConfigurationTypeQuestionValue"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company/configurations/types/{grandparentId}/questions/{parentId}/values/{id}": {
      "get": {
        "tags": [
          "ConfigurationTypeQuestionValues"
        ],
        "description": "Get a specific configuration type question value by ID to manage detailed form data within a ticket categorization hierarchy.",
        "operationId": "get_configuration_type_question_value",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "valueId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentId",
            "in": "path",
            "description": "questionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "grandparentId",
            "in": "path",
            "description": "typeId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ConfigurationTypeQuestionValue",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationTypeQuestionValue"
                }
              }
            }
          }
        }
      }
    },
    "/company/configurations/types/{id}": {
      "get": {
        "tags": [
          "ConfigurationTypes"
        ],
        "description": "Get a specific Configuration Type by ID to view its settings for categorizing tickets and managing related configuration templates.",
        "operationId": "get_configuration_type",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "typeId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ConfigurationType",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationType"
                }
              }
            }
          }
        }
      }
    },
    "/company/configurations/types/{parentId}/questions": {
      "get": {
        "tags": [
          "ConfigurationTypeQuestions"
        ],
        "description": "Get the list of configuration type questions associated with a specific parent configuration type to customize data collection for managed devices and assets.",
        "operationId": "list_configuration_type_questions",
        "parameters": [
          {
            "name": "parentId",
            "in": "path",
            "description": "typeId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ConfigurationTypeQuestion",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ConfigurationTypeQuestion"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/company/configurations/types/{parentId}/questions/{id}": {
      "get": {
        "tags": [
          "ConfigurationTypeQuestions"
        ],
        "description": "Get a specific configuration type question by its ID within a parent configuration type to customize data collection for managed devices or assets.",
        "operationId": "get_configuration_type_question",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "questionId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentId",
            "in": "path",
            "description": "typeId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ConfigurationTypeQuestion",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigurationTypeQuestion"
                }
              }
            }
          }
        }
      }
    },
    "/company/contacts": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "description": "Get a list of contacts including clients, prospects, vendors, and internal staff to manage communication and service activities within ConnectWise PSA.",
        "operationId": "list_contacts",
        "parameters": [
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ApiContact",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contact"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Contacts"
        ],
        "description": "Create a new contact record for clients, prospects, vendors, or internal staff to manage communication and service-related activities within ConnectWise PSA.",
        "operationId": "create_contact",
        "parameters": [],
        "requestBody": {
          "description": "contact",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "ApiContact",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/company/contacts/{id}": {
      "get": {
        "tags": [
          "Contacts"
        ],
        "description": "Get detailed information for a specific contact, such as clients, prospects, vendors, or internal staff, to support customer relationship management and service activities.",
        "operationId": "get_contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "contactId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ApiContact",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Contacts"
        ],
        "description": "Update an existing contact\u2019s information to maintain accurate client, prospect, vendor, or internal staff details within ConnectWise PSA.",
        "operationId": "replace_contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "contactId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "contact",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ApiContact",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Contacts"
        ],
        "description": "Update an existing contact\u2019s information to maintain accurate client, prospect, vendor, or internal staff details within ConnectWise PSA.",
        "operationId": "update_contact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "contactId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "List of PatchOperation",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PatchOperation"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ApiContact",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/Contact"
                }
              }
            }
          }
        }
      }
    },
    "/company/contacts/{parentId}/notes": {
      "get": {
        "tags": [
          "ContactNotes"
        ],
        "description": "Get all notes associated with contacts under a specific parent company to help manage client communications and history.",
        "operationId": "list_contact_notes",
        "parameters": [
          {
            "name": "parentId",
            "in": "path",
            "description": "contactId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ContactNote",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContactNote"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ContactNotes"
        ],
        "description": "Create a new note for a specific contact to document important information and interactions within ConnectWise PSA.",
        "operationId": "create_contact_note",
        "parameters": [
          {
            "name": "parentId",
            "in": "path",
            "description": "contactId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "contactNote",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactNote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "ContactNote",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/ContactNote"
                }
              }
            }
          }
        }
      }
    },
    "/company/contacts/{parentId}/notes/{id}": {
      "get": {
        "tags": [
          "ContactNotes"
        ],
        "description": "Get a specific note attached to a contact within a company to review detailed information or updates related to that contact.",
        "operationId": "get_contact_note",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "noteId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentId",
            "in": "path",
            "description": "contactId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "conditions",
            "in": "query",
            "description": "Filter results based on fields returned in GET request. Supports operators: =, !=, <, <=, >, >=, contains, like, in, not. Logic operators: AND, OR. For null checks use 'field=null' or 'field!=null'. Examples: 'name=\"Value\"', 'id > 100', 'status/name=\"Active\"', 'dateEntered > [2024-01-01T00:00:00Z]', 'dateResponded=null'. Strings must be quoted, dates use square brackets. Keep total URL under 2000 characters.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childConditions",
            "in": "query",
            "description": "Search within child arrays or nested objects. Format: 'childArray/field operator value'. Example: 'communications/value like \"john@example.com\" AND communications/type=\"Email\"'. Supports same operators as conditions parameter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customFieldConditions",
            "in": "query",
            "description": "Filter by custom field values. Format: 'caption=\"FieldName\" AND value operator \"Value\"'. Example: 'caption=\"Priority\" AND value=\"High\"'. Supports operators: =, !=, <, <=, >, >=, contains, like, not.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderBy",
            "in": "query",
            "description": "Sort results by specified field. Format: 'fieldName direction' where direction is 'asc' or 'desc'. Examples: 'name asc', 'id desc', 'status/name asc'. Reference fields use forward slash notation.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "Comma-separated list of fields to include in response. Limits returned data to specified fields only. Example: 'id,name,status/id'. Reduces payload size and improves performance. Reference fields use forward slash notation. Not available on reporting endpoints.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (1-based). Use with pageSize to navigate through result sets. Default: 1.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "Number of records to return per page. Default: 25. Maximum: 1000. Use with page parameter for pagination.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          },
          {
            "name": "pageId",
            "in": "query",
            "description": "Alternative pagination identifier. Used for cursor-based pagination in some endpoints.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ContactNote",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/ContactNote"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ContactNotes"
        ],
        "description": "Update a contact note for a specific contact to maintain accurate and detailed communication records within ConnectWise PSA.",
        "operationId": "replace_contact_note",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "noteId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentId",
            "in": "path",
            "description": "contactId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "contactNote",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactNote"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ContactNote",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/ContactNote"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "ContactNotes"
        ],
        "description": "Update a specific note for a contact within a company to maintain accurate and current communication records.",
        "operationId": "update_contact_note",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "noteId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "parentId",
            "in": "path",
            "description": "contactId",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "description": "List of PatchOperation",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PatchOperation"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "ContactNote",
            "content": {
              "application/vnd.connectwise.com+json; version=2025.8": {
                "schema": {
                  "$ref": "#/components/schemas/ContactNote"
                }
              }
            }
          }
        }
      }
    },
    "/company/contacts/types": {
      "get": {
        "tags": [
          "ContactTypes"
        ],
[...]
